body {
    margin: 0px;
    height:100vh;
}
#header{
    height:80px;
    /* background:linear-gradient(
        rgba(0, 0, 0, 0.75), 
        rgba(0, 0, 0, 0.75)
      ); */

}
#footer {
    z-index: 150;
    width: 100%;
    height: 10%;
    background-color: black;
}
.navbar{
    height:60px;
    background:black;

}

.body-bio {
    height: 60% !important;
}

.header-wrap {
    width: 100%;
}

.container-fluid {
    background-color: grey;
}

.jumbotron {
    opacity: 80%;
    background-color: clear !important;
}
.img-fluid {
    max-width: 200px !important;
    height: auto;
}

#about-me {
    position: relative;
    /* top, transparent red */ 
    background-image:linear-gradient(
        rgba(0, 0, 0, 0.45), 
        rgba(0, 0, 0, 0.45)
      ), url(../images/Paria.jpg);
    background-size: 100%;
    background-attachment: fixed;
    height:100vh;
}
#test-div {
    position: relative;
    /* top, transparent red */ 
    background-image:linear-gradient(
        rgba(0, 0, 0, 0.75), 
        rgba(0, 0, 0, 0.75)), url(../images/what-the-hex/what-the-hex.png);
    background-repeat: repeat;
    /* background-size: 100%; */
    /* height:100%; */
}
#portfolio {
    background-image: url(/images/2.png);
    background-size: 100%;    
}

@font-face { 
    font-family: 'Briberra'; 
    src: url('Briberra.otf');
 } 
.profile-name {
    margin-top: 100px !important;
    font-size: 100px !important;
    color: whitesmoke;
    text-shadow: 12px 1px 12px black;
    font-family: 'Briberra', sans-serif;
    margin: 20px;
    font-size: 220px !important;
}

.intro {
    font-family: Arial, Helvetica, sans-serifs;
    font-size: 50px;
    color: whitesmoke;
}
.about-test{
    position: fixed;
}
#profile-pic {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
    align-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.spacer {
    width: 40% !important;
    margin: auto;
}

#bio {
      height:100vh;
        position: relative;
        background-image:
 
            url(../images/sun-pattern/sun-pattern.png);
        background-repeat: repeat;
        
            -webkit-box-shadow: 0px -48px 76px 0px black;
               -moz-box-shadow: 0px -48px 76px 0px black;
                    box-shadow: 0px -48px 76px 0px black;     
}
p {
    font-weight: bold;
    color: black;
    opacity: 1;
}

.every-proj, .card {
    width: 200px;
    height:auto;
}
#test-jumbo {
    height: 800px;
}

#test-div {
    z-index: 100;
    background-color: grey;
    height: 900px;
}
.bio-pic {
    border-radius: 15px;
  transition: width 250ms, height 250ms;
  max-height: 344px;
}
.project-title {
    margin: auto;
    color: white;

}
.carry {
    width: 100%;
    border: coral solid 2px;
}
